body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #ff7e5f, #feb47b);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #ff5e5e;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

footer {
  background: #ff5e5e;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.intro,
.description,
.premium,
.coupon {
  max-width: 600px;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.intro h1,
.description h1,
.premium h1,
.description h2,
.coupon h1 {
  margin-top: 0;
  color: #ff5e5e;
}

button {
  background-color: #ff5e5e;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #8b0000;
  color: white;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social-icons a {
  color: #ff5e5e;
  font-size: 24px;
  text-decoration: none;
}

.statistics {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.stat {
  background-color: #ff7e5f;
  padding: 10px;
  border-radius: 10px;
  color: white;
  width: 100px;
}

.stat h3 {
  margin: 0;
  font-size: 24px;
}

#coupon {
  padding: 10px;
  font-size: 18px;
  margin: 20px 0;
  width: 40%;
  border: 2px solid #ff5e5e;
  border-radius: 10px;
}

#message {
  font-size: 18px;
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 2px solid #ff5e5e;
  border-radius: 20px;
  font-size: 18px;
  width: calc(100% - 24px);
  box-sizing: border-box;
  margin-top: 20px;
}

input[type="text"]::placeholder {
  color: #ff5e5e;
}

input[type="text"]:focus {
  outline: none;
  border-color: #8b0000;
}

.highlight {
  color: #8b0000;
  font-weight: bold;
}
#pay-message,
#coupon-message {
  font-size: 20px;
  font-weight: bold;
}
#name{
    max-width: 600px;
    background-color: white;
    padding: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
